<div class="col-md-12">
  <h3 class="mb-3 text-center">Edit Contact: {{address}}</h3>

  <div class="form-group">
    new firstName: <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="FirstName">
  </div>

  <div class="form-group">
    new lastName: <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="LastName">
  </div>

  <div class="form-group">
    <a routerLink="/contacts"><button class="button black" (click)="saveContact()">Save</button></a>
  </div>
</div>
