<div class="container custom-container-2">

  <div class="no-data text-center" *ngIf="Contacts.length == 0">
    <p>No Contacts</p>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Contacts.length !== 0">
    <h3 class="mb-3 text-center">Contacts:</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of Contacts">
          <td>{{contact.address}}</td>
          <td>{{contact.firstName}}</td>
          <td>{{contact.lastName}}</td>
          <td>
            <button class="button" (click)="gotoEditContact(contact.address)">Edit</button>
            <button class="button" (click)="deleteContact(contact.address)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <app-footer-buttons></app-footer-buttons>

</div>
