<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Contact</h3>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="address" placeholder="Address">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="FirstName">
    </div>

    <div class="form-group">
      <a routerLink="/contacts"><button class="button black" (click)="addContact()">Create Contact</button></a>
    </div>

  </div>
</div>
